@import '../utils/variables.scss';

.poster{
    width: 50%;
    &__content{
        width: 80%;
    }
}

.details{
    background-color: $background-form;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-radius: 5px;
}

.info{
    width: 50%;
}